<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fhir.Metrics" version="1.3.0" targetFramework="net48" />
  <package id="Hl7.Fhir.Base" version="5.11.4" targetFramework="net48" />
  <package id="Hl7.Fhir.Conformance" version="5.11.4" targetFramework="net48" />
  <package id="Hl7.Fhir.R5" version="5.11.4" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.7" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.3650.58" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="SMARTWebEHR" version="1.5.5" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.7" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.2" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.2" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="Tiro.Health.Winforms.FormViewer.Net48" version="1.0.0" targetFramework="net48" />
</packages>